.App {
    background-color: #fefefe;
    height: 100vh;
    width: 100%; 
} 

.content {
    flex: 1; /* Take up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding-top: 7rem;
}

.intro {
    text-align: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.texto-intro {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: .5rem;
}

.card-container-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    z-index: 2;
}

